<header>
    <nav class="nav-bar">
        <a href="/">Home</a>
        <a href="views/login.ejs">Login</a>
        <a href="views/profile.ejs">Profile</a>
        <a href="views/register.ejs">Register</a>
        <a href="views/watchlist.ejs">Watchlist</a>
    </nav>
</header>