<header>
    <nav class="nav-bar">
        <a href="/">Home</a>
        <% if(!loggedIn) { %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% } %>
        <% if(loggedIn) { %>
            <a href="/watchlist/<%=username%>">Watchlist</a>
            <a href="/profile/<%=username%>">Profile</a>
            <button id="logoutButton" onclick="window.location.href='/logout'">Logout</button>
        <% } %>
    </nav>
</header>