<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title class="app-title">Movie Night Watchlist</title>
    </head>
    <body>
        <%- include('partials/header') %>
        <h1>Welcome to Movie Night Watchlist</h1>
        <p>Here you can keep track of all the movies you want to watch.</p>
    </body>
</html>