<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Profile</title>
    </head>
    <body>
        <%- include('partials/header') %>
        <p>Hello Profile page</p>
    </body>
</html>