<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Profile</title>
    </head>
    <body>
        <header>
            <%- include('partials/header') %>
        </header>
        <p>Welcome to the Profile page.
            Customization options are coming soon!</p>
    </body>
</html>