<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Register</title>
        <script src="/js/register-validation.js" defer></script>
    </head>
    <body>
        <%- include('partials/header') %>
        <h1>Create an Account!</h1>
        <p>Fill out the form below to create an account!</p>
        <form id="registerForm" class="form" action="/register" method="post">
            <label>Username:</label>
            <input id="username" type="text" name="username" placeholder="Enter a username"/>
            <span id="usernameError" class="invalidMessage" hidden>Must have two characters.</span>
            <br>
            <label>Password:</label>
            <input id="password" type="text" name="password" placeholder="Enter a password"/>
            <span id="passwordError" class="invalidMessage" hidden>Must have 8 characters.</span>
            <br>
            <br>
            <input type="submit" placeholder="Create Account"/>
        </form>
    </body>
</html>