body {
    background-color: #af85ee;
}

.invalidInput {
    border: solid 1px #F13C20;
    border-radius: 2px;
}
.invalidMessage {
    color: #F13C20;
    font-weight: bold;
}
.cover-image {
    width: 200px;
    height: 300px;
}
